@charset "utf-8";
#Mainbody {
	height: auto;
	margin-top: 10px;
}
.width {
	width: 1000px;
	margin: auto;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
#Banner {
	height: 100px;
}
#Mainmenu {
	height: 300px;
	width: 200px;
	margin-top: 25px;
	float: right;
	margin-right: 10px;
	border: thick double #000084;
}
#Mainmenu p {
	font-family: Georgia, "Times New Roman", Times, serif;
	text-transform: uppercase;
}

#Leaderboard {
	height: 300px;
	width: 200px;
	margin-top: 25px;
	margin-left: 10px;
	float: left;
	border: medium solid #B30000;
}
#Leaderboard p {
	font-style: italic;
	text-decoration: underline;
}



#BodyInfo {
	height: 350px;
	margin-top: 15px;
	text-align: center;
}
#HomeBody {
	height: 600px;
	margin-top: 20px;
}
#HomeMenu {
	float: right;
	height: 200px;
	width: 200px;
	margin-top: 15px;
	margin-right: 15px;
	text-align: center;
}

#Headlines {
	height: 300px;
	width: 535px;
	height: 300px;
	position: relative;
	left: 8px;
	margin-top: 25px;
	margin-left: 220px;
}

#Login {
	height: 350px;
	width: 400px;
	margin-top: 25px;
	margin-left: 45px;
}
#PersonalStats  {
	height: 200px;
	width: 700px;
	margin-top: 15px;
	margin-left: 20px;
}
#AdvancedStatsBox {
	height: 300px;
	width: 980px;
	margin-left: 4px;
	margin-top: 20px;
	border: thick solid #000000;
}
#TeamMenu {
	float: right;
	height: 200px;
	width: 200px;
	margin-right: 20px;
	margin-top: 20px;
	border: thin double #00008C;
}

body {
	background-color: #999999;
}

#LoginPassword {
}

#Createaccount {
	height: 350px;
	width: 400px;
	margin-top: 25px;
	margin-right: 45px;
	float: right;
}
#Loginbox {
	height: 400px;
}


#Footer {
	height: 30px;
	margin-top: 5px;
	float: none;
}
input {

}
